# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Model / cache files (important for your project)
*.pt
*.bin
*.h5

# NLTK / ML cache (optional but safe)
nltk_data/

# Temporary files
*.tmp
*.swp